 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <app-title [titulo]="'Servicios'" [subtitulo]="'Revisa nuestros Servicios'" [texto]="''"></app-title>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" data-position="right"  data-step="5" data-intro="Servicio Auditoria enterna">
          <app-f-serv [icono]="'icofont-investigation'" [referencia]="'Auditoria.html#audiE'" [nombre]="'Auditoría Externa'" [descripcion]="'Evaluación del correcto funcionamiento de una empresa en relación a sus procesos y marco normativo.'"></app-f-serv>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200" data-position= "right"  data-step="6" data-intro="Servicio Auditoria interna">
          <app-f-serv [icono]="'icofont-look'" [referencia]="'Auditoria.html#audiI'" [nombre]="'Auditoría Interna'" [descripcion]="'Control y la vigilancia interna de una empresa o institución.'"></app-f-serv>
       </div>
       <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300" data-position= "left"  data-step="7" data-intro="Servicio Consultorias">
          <app-f-serv [icono]="'icofont-info-circle'" [referencia]="'Consultorias.html'" [nombre]="'Consultorías'" [descripcion]="'Asesoramiento en cuestiones técnicas de una empresa en sus diversas áreas.'"></app-f-serv>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100" data-position= "right"  data-step="8" data-intro="Servicio Negociaciones">
         <app-f-serv [icono]="'bx bx-world'" [referencia]="'Negociaciones.html'" [nombre]="'Negociación'" [descripcion]="'Reestructuración de Pasivos. Procesos de Fusión y Escisión.'"></app-f-serv>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200" data-position= "right"  data-step="9" data-intro="Servicio Diseño de Politicas">
          <app-f-serv [icono]="'icofont-law-document'" [referencia]="'DiseñoPoliticas.html'" [nombre]="'Diseño de políticas'" [descripcion]="'Diseño e implementación de reglamentos y procedimientos de control interno.'"></app-f-serv>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300" data-position= "left"  data-step="10" data-intro="Servicio Trabajos Especiales">
          <app-f-serv [icono]="'icofont-handshake-deal'" [referencia]="'#services'" [nombre]="'Trabajos especiales'" [descripcion]="'Procedimientos Convenidos.'"></app-f-serv>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
