
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--h1 class="logo mr-auto"><a href="index.html">Dino Mendoza - Auditor<span>.</span></a></h1-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo mr-auto"><img src="assets/img/Logo/LogoFull.png" alt=""></a>
      <div data-step="1" data-intro="   Menu de navegacion">
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink=''>Inicio</a></li>
          <li class="buscar"><a  routerLink="" >Conózcanos</a></li>
          <!--li><a href="#services">Servicios</a></li-->
          <!--li><a href="#portfolio">Portfolio</a></li-->
          <li class="drop-down"><a routerLink="/Admin">Servicios</a>
            <ul>
              <!--li><a href="#">Drop Down 1</a></li-->
              <li class="drop-down"><a routerLink='/Auditoria'>Auditoría</a>
                <ul>
                  <li class="buscar"><a routerLink="/Auditoria">Auditoria interna</a></li>
                  <li class="buscar"><a routerLink="/Auditoria">Auditoria externa</a></li>
                  <!--li><a href="#">Deep Drop Down 3</a></li-->
                  <!--li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li-->
                </ul>
              </li>
              <li class="buscar"><a routerLink="/Consultorias">Consultorías</a></li>
              <li class="buscar"><a routerLink="/Negociaciones">Negociaciones</a></li>
              <li class="buscar"><a routerLink="/DiseñoPoliticas">Diseño de Políticas</a></li>
              <!--li><a href="TrabajosEspeciales.html">Trabajos Especiales</a></li-->
            </ul>
          </li>
          <li class="buscar"><a routerLink="/EquipoDes">Equipo</a></li>
          <li class="buscar"><a routerLink="">Contáctenos</a></li>
		<li class="buscar"><div id="ctn-icon-search" data-position="left" data-step="2" data-intro="   Buscador interno">
      	<i class="fas fa-search" id="icon-search"></i></div>
      	</li>

        </ul>
      </nav><!-- .nav-menu -->
       </div>


    </div>
    <div id ="ctn-bar-search">		
  	<input type="text" id="inputSearch" placeholder="¿Que desea buscar?" title="Ingresa">
  </div>
  
  <ul id="box-search">
		
   </ul>
   
   <div id="cover-ctn-search">
   </div>
  </header><!-- End Header -->



