<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Dino F. <span>Mendoza Cisneros</span>
      </h1>
      <h2>Contador Público Autorizado - Auditor Externo Independiente</h2>
      <div class="d-flex">
        <!--<a href="#about" class="btn-get-started scrollto">Iniciar</a>--->
	 <input type="button" value="Iniciar" id="navegacion">
        <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>-->
      </div>
    </div>
  </section><!-- End Hero -->