<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title" data-position= "bottom"  data-step="4" data-intro="Seccion nosotros">
        <app-title [titulo]="'Nosotros'" [subtitulo]="'Acerca de Nosotros'" [texto]="'Somos una institucion destinada a la prestacion de servicios de contaduria y auditoria. Contamos con amplia trayectoria profesional en el campo de la Auditoría Financiera en firmas con representación internacional, en el área de Auditoría Interna en importantes grupos económico y empresas privadas del país; así como también en la Superintendencia de Economía Popular y Solidaria SEPS.'"></app-title>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/equipo.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
           <p class="font-italic">
            Contamos con personal de basta experiencia en variedad de áreas:
          </p>
          <ul>
            <li>
              <i class="icofont-look"></i>
              <div>
                <h5>Auditoria Financiera</h5>
                <p>Interna y Externa.</p>
              </div>
            </li>
            <li>
              <i class="icofont-info-circle"></i>
              <div>
                <h5>Consultoría</h5>
                <p>Contable, Financiera y Tributaria.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-world"></i>
              <div>
                <h5>Negociación</h5>
                <p>Concierto y Reestructuración de Pasivos.</p>
              </div>
            </li>
          </ul>
          <p>
           </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
