<div class="contenedorServicio"> <!--container-->
      
    <header>Selecciona un Servicio</header>

    <div class="seleccionServ">
      <p class="servicio">Servicio:</p>
      <select id="selectServ" ng-model="selected">
        <option value="">Seleccione un servicio</option>
      </select>
    </div>

    <div class="contenidoServ">
      <div class="nombreServ">
        <p class="labelNombre"><b>Nombre del Servicio:</b></p>
        <p id="tit" class="contenidoNombre"></p>
      </div>
      <div class="descServ">
          <p class="labelDescripcion"><b>Descripcion:</b></p>
          
          <textarea id="text" readonly="true">
         
          </textarea>
      </div>
    </div>
    
  </div>

