 <!-- ======= Footer ======= -->
 <footer id="footer">

    <!--<div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Suscríbase a nuestro boletín</h4>
            <p>Regístrese con su dirección de correo para recibir notificaciones acerca de promociones y nuevos servicios.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribirse">
            </form>
          </div>
        </div>
      </div>
    </div>-->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dino Mendoza C<span>.</span></h3>
            <p>
              Colón 561 y Boyacá<br>
              Edif. Pegar Piso 2 Of 203<br>
              Guayas, Guayaquil<br>
              Ecuador <br><br>
              <strong>Phone:</strong> +593 0992931213<br>
              <strong>Email:</strong> cpadinomendozac@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="">Conózcanos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="">Servicios</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/Auditoria">Auditorías</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/Consultorias">Consultorías</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/Negociaciones">Negociaciones</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/DiseñoPoliticas">Diseño de Políticas</a></li>
              <!--li><i class="bx bx-chevron-right"></i> <a href="#">Trabajos Especiales</a></li-->
            </ul>
          </div>

          <!--div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestras Redes Sociales</h4>
            <p>Encuentros en cualquiera de nuestras redes sociales</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div-->

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  

