<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="assets/img/login/user.png" th:src="@{/img/login/user.png}"/>
            </div>
            <form class="col-12" action="http://localhost:3000/users/auth" method="POST">
                <div class="form-group" id="user-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="user"/>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
            </form>
            <div class="col-12 forgot">
                <p style="color:#0FEAA9">¿No tiene una cuenta? <a routerLink="/Registro">cree una.</a></p>
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Usuario o contraseña inválidos.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Usted ha ingresado correctamente.
            </div>
        </div>
    </div>
</div>
