<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Mi Perfil</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Mi Perfil</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="assets/img/team/team-1.jpg" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Cambiar imagen" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
								<!-- INFORMACION RAPIDA DEL USUARIO VA AQUI -->
									<h2 class="d-block" id="nombreusuario" style="font-size: 1.5rem; font-weight: bold;">Sam Weather</h2>
									<!--h6 class="d-block" id="resenaescrita">1 reseñas escritas</h6-->
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Descartar cambios" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Información básica</a>
                                    </li>
									<li class="nav-item">
                                        <a class="nav-link" id="infoEdit-tab" data-toggle="tab" href="#infoEdit" role="tab" aria-controls="infoEdit" aria-selected="false">Editar usuario </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="reviewsCheck-tab" data-toggle="tab" href="#reviewsCheck" role="tab" aria-controls="reviewsCheck" aria-selected="false">Reseñas escritas</a>
                                    </li>
									<li class="nav-item">
                                        <a class="nav-link" id="reviewsEdit-tab" data-toggle="tab" href="#reviewsEdit" role="tab" aria-controls="reviewsEdit" aria-selected="false">Editar reseña</a>
                                    </li>
									<li class="nav-item">
                                        <a class="nav-link" id="reviewsAdd-tab" data-toggle="tab" href="#reviewsAdd" role="tab" aria-controls="reviewsAdd" aria-selected="false">Añadir reseña</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
								
								
								
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
										<!-- AQUI VA LA INFORMACION BASICA DEL USUARIO -->
                                        <div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Nombre completo: </label>
											</div>
											<div class="col-md-8 col-6" id="nombrecompleto">
												Sam Lizard Weather Lightwood
											</div>
										</div>
										
										
										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Correo electrónico: </label>
											</div>
											<div class="col-md-8 col-6" id="correo">
												samweather95@hotmail.com
											</div>
										</div>
										
											
										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Fecha de registro: </label>
											</div>
											<div class="col-md-8 col-6" id="fechareg">
												3 de Abril de 2017
											</div>
										</div>
										
										
                                    </div>
									
									
									
									<div class="tab-pane fade" id="infoEdit" role="tabpanel" aria-labelledby="infoEdit-tab">
										<!-- AQUI VA LA OPCION PARA EDITAR EL NOMBRE DEL USUARIO -->
										<form action="http://localhost:3000/users/update" method="POST" class="row">
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Nombres: </label>
											<input type="text" class="col-md-8 col-6" id="nuevonombre" name="nombres">
											<label class="col-sm-3 col-md-2 col-5">Puede ser vacío</label>
											
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Apellidos: </label>
											<input type="text" class="col-md-8 col-6" id="nuevoapellido" name="apellidos">
											<label class="col-sm-3 col-md-2 col-5">Puede ser vacío</label>
											
											<!-- ESPACIOS -->
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Elija una opción:</label>
											<input type="submit" class="btn btn-secondary" id="btnClientUpdate" value="Realizar cambios" />
											<!--label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<input type="button" class="btn btn-secondary" id="btnPhotoUpdate" value="Eliminar imagen de perfil" /-->
											<!-- <input type="submit" class="btn btn-secondary" id="btnClientUpdate" value="Realizar cambios" /> USARLO Y BORRAR LA LINEA ANTERIOR DE SER NECESARIO!!!-->
											<!-- <input type="submit" class="btn btn-secondary" id="btnPhotoUpdate" value="Eliminar imagen de perfil" /> USARLO Y BORRAR LA LINEA ANTERIOR DE SER NECESARIO!!!-->
										</form>
                                    </div>
									
									
									
                                    <div class="tab-pane fade" id="reviewsCheck" role="tabpanel" aria-labelledby="reviewsCheck-tab">
										<!-- AQUI VA LA LISTA DE RESEÑAS DEL USUARIO -->
                                        <div class="row" id="div1">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Reseña : </label>
											</div>
											<div class="col-md-8 col-6" id="1">
												<p class="parrafo" id="resenaContenido">No ha escrito ninguna resena todavia</p>
											</div>
											
										</div>
										
										<form action="http://localhost:3000/res/delete" method="POST" class="row">
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">¿Eliminar reseña?</label>
											<input type="submit" class="btn btn-secondary" id="btnReviewDelete" value="Eliminar reseña" />
											<input type="text" value="" id="id_resena" style="display: none;" name="id">
											<!-- <input type="submit" class="btn btn-secondary" id="btnReviewDelete" value="Eliminar reseña" /> USARLO Y BORRAR LA LINEA ANTERIOR DE SER NECESARIO!!!-->
										</form>
										
                                    </div>
									
									
									
									<div class="tab-pane fade" id="reviewsEdit" role="tabpanel" aria-labelledby="reviewsEdit-tab">
                                        <!-- AQUI VA LA OPCION PARA EDITAR ALGUNAR RESEÑA DEL USUARIO -->
										<form action="http://localhost:3000/res/update" method="POST" class="row">
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Identificador de reseña: </label>
											<select class="col-md-8 col-6" id="resenas" name="id">
											</select>
											
											<!-- ESPACIOS -->
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Escriba el texto a editar:</label>
											<textarea class="col-md-8 col-6" id="resenaeditada" name="contenido" cols="70"></textarea>
											<label class="col-sm-3 col-md-2 col-5">Es posible dejar este espacio vacío</label>
											<input type="submit" class="btn btn-secondary" id="btnUpdate" value="Actualizar Reseña" />
											<!-- <input type="submit" class="btn btn-secondary" id="btnUpdate" value="Actualizar Reseña" /> USARLO Y BORRAR LA LINEA ANTERIOR DE SER NECESARIO!!!-->
										</form>
                                    </div>
									
									
									
									<div class="tab-pane fade" id="reviewsAdd" role="tabpanel" aria-labelledby="reviewsAdd-tab">
										
										<form method="POST" action="http://localhost:3000/res/save" class="row">
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;">Escriba su nueva reseña: </label>
											<textarea class="col-md-8 col-6" id="resenanueva" name="contenido" cols="70"></textarea>
											<label class="col-sm-3 col-md-2 col-5">Es posible dejar este espacio vacío</label>
											<input type="text" name="cliente" value="" id="id_cliente_anadir" style="display: none;">
											
											<!-- ESPACIOS -->
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											<label class="col-sm-3 col-md-2 col-5" style="font-weight:bold;"> </label>
											
											<input type="submit" class="btn btn-secondary" id="btnAdd" value="Añadir Reseña" />
											<!-- <input type="submit" class="btn btn-secondary" id="btnAdd" value="Añadir Reseña" /> USARLO Y BORRAR LA LINEA ANTERIOR DE SER NECESARIO!!!-->
										</form>
										
										
										
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </main><!-- End #main -->
