<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Negociaciones</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Negociaciones</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="conciertoReestructuracion" class="about section-bg">
      <div class="container" data-aos="fade-up">
		
			<!-- En caso de que el archivo js falle
			<div class="section-title">
			  <h2>Concierto y reestructuración de pasivos</h2>
			  <h3><span>Reestructuración de Pasivos</span></h3>
			  <p>Se realiza un estudio de la empresa y se elabora un plan de pago de acuerdo a los flujos proyectados que ésta tenga, tratando de disminuir siempre la carga financiera y optimizando el uso de las garantías.Posteriormente se negocia con los acreedores un plan de pago que considere los intereses de la empresa y de sus acreedores.</p>
			  <p>La reestructuración de pasivos es el cambio de un pasivo no favorable por otro más favorable. Reestructurar significa modificar la estructura, por ello no se cambia de tipo de financiamiento, sigue siendo pasivo.Lo que cambian son las condiciones del pasivo, es decir: El plazo, La tasa y las condiciones de pago.</p>
			</div>

			<div class="row">
			
			  <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
				<img src="assets/img/imagenauditor.jpg" class="img-fluid" alt="">
			  </div>
			  
			  <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<p class="font-italic">
				  Hay diversos factores por los que es necesario realizar una reestructuracion de pasivos:
				</p>
				
				<ul>
				  <li>
					<i class="bx bx-images"></i>
					<div>
					  <h5>Caída de las ventas</h5>
					  <p>Factor que implica realizar reestructuración de pasivos</p>
					</div>
				  </li>
				  <li>
					<i class="bx bx-images"></i>
					<div>
					  <h5>Incremento de los costos</h5>
					  <p>Factor que implica realizar reestructuración de pasivos</p>
					</div>
				  </li>
				  <li>
					<i class="bx bx-images"></i>
					<div>
					  <h5>Cambio en la economía del país</h5>
					  <p>Factor que implica realizar reestructuración de pasivos</p>
					</div>
				  </li>
				  <li>
					<i class="bx bx-images"></i>
					<div>
					  <h5>Incremento de las tasas de interés</h5>
					  <p>Cuando el contrato del crédito se haya realizado con interés variable</p>
					</div>
				  </li>
				</ul>
				<p>
				 </p>
			  </div>
			</div> -->
			
      </div>
    </section>

  </main><!-- End #main -->