<div id="sub">
    <div class="nav_icon" onclick="toggleSidebar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="navbar__left">
      <a routerLink="/">Inicio</a>
      <a class="active_link" routerLink="/Admin">Admin</a>
    </div>
    <div class="navbar__right">
      <a href="#">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
      <a routerLink="/Logout">
        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
      </a>
      <a href="#">
        <img width="30" src="assets/avatar.svg" alt="" />
        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
      </a>
    </div>
  </div>
