   <!-- ======= Top Bar ======= -->
   <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:cpadinomendozac@gmail.com">cpadinomendozac@gmail.com</a>
        <i class="icofont-phone"></i> +593 9 9293 1213
      </div>
      <div class="social-links">
        <a routerLink="/Login" class="twitter"><i class="fas fa-sign-in-alt"></i></a>
        <a routerLink="/Cliente" class="facebook"><i class="fas fa-user"></i></a>
        <!--a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a-->
      </div>
    </div>
  </div>
