<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row" data-step="3" data-intro="Servicios destacados" data-position="bottom">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <app-services [icono]="'icofont-look'" [referencia]="'Auditoria.html#audiI'" [nombre]="'Auditoría Interna'" [descripcion]="'Control y la vigilancia interna de una empresa o institución.'"></app-services>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <app-services [icono]="'icofont-investigation'" [referencia]="'Auditoria.html#audiE'" [nombre]="'Auditoría Externa'" [descripcion]="'Evaluación del correcto funcionamiento de una empresa en relación a sus procesos y marco normativo.'"></app-services>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <app-services [icono]="'icofont-info-circle'" [referencia]="'Consultorias.html'" [nombre]="'Consultoría'" [descripcion]="'Asesoramiento en cuestiones técnicas de una empresa en sus diversas áreas.'"></app-services>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <app-services [icono]="'bx bx-world'" [referencia]="'Negociaciones.html'" [nombre]="'Negociaciones'" [descripcion]="'Reestructuración de Pasivos. Procesos de Fusión y Escisión.'"></app-services>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->
  