<div class="contenedorAdministrarContenido"> <!--container-->
          
    <header>Datos de Contacto</header>
    
    <div class="divContacto">
      <div>
        <p><b>Correo: </b></p>
        <p id="correoAdmin"></p>
      </div>
      <div>
        <p><b>Telefonos: </b></p>
        <p id="telefonos"></p>
      </div>
      <div class="direccion">
        <p><b>Direccion: </b></p>
        <p id="direccion"></p>
      </div>
      <form action="http://localhost:3000/contact/delete" method="POST" class="formEliminarContacto">
        <p>¿Eliminar Datos de Contacto?</p>
        <input type="submit" name="Eliminar" value="Eliminar">
      </form>
    </div>
  </div>
